.round {
    position: absolute;
    top: 0;
    right: 0;
}

.round__text {
    width: 30px;
    height: 30px;
    border: 2px solid #E90000;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.--red {
    border: 2px solid #E90000;
}

.--yellow {
    border: 2px solid #E97E00;
}

.--bright_yellow {
    border: 2px solid #E9D100;
}

.--green {
    border: 2px solid #66E900;
}