html {
    min-height: auto;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.body {
    margin: 0
}

.wrapper {
    max-width: 1010px;
    background-Color: white;
}

.wrapper--height {
    height: 100vh
}